.landingpage-main {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.landingpage {
    width: 100%;
    height: 100vh;
    transition: all 0.2s ease-in-out;
    background-image: url('../../../image/image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    opacity: .8;
}

.box {
    background-color: rgba(255, 255, 255, 0.7);
    /* Black w/opacity/see-through */
    font-weight: bold;
    border: 6px solid  rgba(166, 193, 251, 0.555);
    padding: 20px;
    flex-flow: column;
    width: 200px;
    height: auto;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.linkTo>.menu:hover {
    background-color: rgba(153, 182, 245, 0.746);
    color: white;
}

.linkTo>.menu {
    color: black;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
}

.box>.header {
    text-transform: uppercase;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 5px;
    border-bottom: 1px solid black;

}

.linkTo {
    text-decoration: none;

}