.toggle {
  z-index: 1000;
  position: fixed;
  width: 20%;
  height: 100vh;
  background-color: white;
  top: 0;
  left: -100%;
  transition: all 0.2s ease-in-out;
}

.toggle-active {
  left: 0;
}

.toggle-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  color: black;
  opacity: 0.5;

}

.preview-description {
  padding: 1rem;
text-align: justify;
}

.preview-button {
  text-decoration: none;
  font-weight: bold;
  background-color: #f9b29c;
  border-radius: 0.5rem;
  appearance: none;
  border: none;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  margin: 1rem auto;
  cursor: pointer;
}

.preview-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.preview-description {
  line-height: 1.5rem;
  color: #484848;
}

.preview-picture {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.preview-picture>img {
  opacity: 0.2;
  cursor: pointer;
  height: 100%;
}

.toggle-active>.form-addMark{
height: 100%;
border: 1px solid black;
}

.form-add,
.form-preview,
.form-edit{
display: grid;
}

.form-add>input,
.form-preview>input,
.form-edit>input {
width: auto;
margin: 10px;
}

.form-preview>input {
  border: none;
  border-bottom: 1px solid black;
}

button>.save,
button>.edit {
  height: 70px;
}

