.map {
  width: 100%;
  height: 100vh;
  display: absolute;
  margin: 5px;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  text-align: center;
}

.leaflet-tooltip-pane {
  text-align: center;
  text-transform: uppercase;
}

.map>.header {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0;
  font-size: 15px;
}

.header>form {
  display: inline-flex;
}

.map>.content {
  width: 100%;
  height: 90%;
  margin-top: 10px;
}

.map>.footer {
  width: 100%;
  height: 50px;
}

form>label {
  padding-left: 16px;
}

form>button {
  margin-left: 10px;
  margin-right: 10px;
}

button.search-button {
  margin-left: 20px;
  margin-right: 20px;
  width: 80px;
  background-color: white;
  border: 1px solid #045075;
  color: #045075;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px;
  height: 22px;
}

input#calendar {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  font-size: 10px;
  background-color: #045075;
  border: 1px solid #045075;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 5px;
  height: 22px;
}

label>select {
  width: 110px;
  background-color: white;
  border: 0;
  margin-left: 10px;
  cursor: pointer;
  padding: 2px;
}

select.classic {
  background-image: linear-gradient(90deg, transparent 80%, #045075 50%),
    linear-gradient(to right, #aeb3b5, #aeb3b5);
}

select.classic:active {
  border: none;
}

.content>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 3px;
  line-height: 15px;
  left: 1px;
  top: 55px;
  font-size: 20px;
  background: #aeb3b5;
  color: white;
  border: 1px solid #cfcece;
}

.content>.filter {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 3px;
  line-height: 15px;
  left: 1px;
  top: 30px;
  font-size: 20px;
  background: #aeb3b5;
  color: white;
  border: 1px solid #cfcece;
}

.content>.content-data {
  min-height: 90%;
  height: auto;
  width: 100%;
}

.content>.footer {
  height: 50px;
  width: 100%;
  display: grid;
  align-content: center;
  margin-top: 10px;
}

.content-data>.data {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 10px;
}

.data>.left {
  width: 25%;
  height: auto;
  flex-flow: wrap;
  color: white;
  display: flex;
  /* border: 1px solid black; */
  background: #aeb3b5;
  align-content: center;
}

.data>.right {
  width: 100%;
  min-height: 100px;
  flex-flow: wrap;
  color: white;
  display: flex;
  margin-left: 10px;
  background: #aeb3b5;
  align-content: center;
  align-items: center;
}

.left>.name {
  width: 70px;
  height: 100%;
  background: #045075;
  padding: 0;
  margin: 0;
  display: flex;
  float: left;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-right: 20px;
}

.left>.image {
  width: 130px;
  height: 90px;
  padding: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.image>img {
  height: 100%;
  width: 100%;
}

.footer>.info {
  display: flex;
  float: right;
  margin-right: 10px;
  margin-left: auto;
}

.info>.indicator {
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.footer>.pagination {
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination>span {
  text-align: center;
  border: 1px solid #045075;
  display: inline-flex;
  height: auto;
}

span>input {
  text-align: center;
  width: 50px;
  height: 10px;
}


.right>.utilization {
  background: orange;
  box-sizing: border-box;
  max-width: 100px;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  height: 50%;
  margin: 5px 10px 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  align-content: center;
}

.utilization>p {
  margin: 0;
}

.right>.graphic {
  height: 130px;
  width: 80%;
  display: flex;
  margin: 5px auto 5px 10px;
}


.arrow_box {
  width: auto;
  padding: 5px;
  position: relative;
  background: white;
  color: black;
  border: 0px;
}

.arrow_box:after,
.arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(85, 85, 85, 0);
  border-right-color: blue;
  border-width: 10px;
  margin-top: -10px;
}

.arrow_box:before {
  border-color: rgba(0, 0, 0, 0);
  border-right-color: white;
  border-width: 13px;
  margin-top: -13px;
}
