.toggle {
  z-index: 1000;
  position: fixed;
  width: 25%;
  height: 100vh;
  background-color: white;
  top: 0;
  left: -100%;
  transition: all 0.2s ease-in-out;
  border: 1px solid black;
}

.toggle-active {
  left: 0;
}

.toggle-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.preview-description {
  padding: 1rem;
  text-align: justify;
}

.preview-button {
  text-decoration: none;
  font-weight: bold;
  background-color: #f9b29c;
  border-radius: 0.5rem;
  appearance: none;
  border: none;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  margin: 1rem auto;
  cursor: pointer;
}

.preview-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.preview-description {
  line-height: 1.5rem;
  color: #484848;
}

.preview-picture {
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.toggle-active>.form-addMark {
  height: 100%;
  border: 1px solid black;
}

.form-addMark>.form-add {
  display: inline;
}

.form-add>input {
  width: 100px;
  margin-right: 10px;
}
