/* .App {
  grid-column: auto;
  margin: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
} */

.App {
    grid-column: auto;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
}

.Box > a {
    width: 100px;
    padding: 50px;
    margin: 50px;
    border: 2px solid #045075;
    border-radius: 15px;
    background: white;
    color: #045075;
    cursor: pointer;
    text-decoration: none;
}

.Box > a:hover {
    background: #afb3b0;
}
