#root {
  height: 100vh;
  width: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.main {
  width: 100%;
}

.App {
  grid-column: auto;
  margin: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.App .box {
  width: auto;
  border: 1px solid black;
  padding: 10px;
}

.main>.header {
  background-color: none;
  width: 100%;
}

.main>.header>h2 {
  background-color: #045075;
  color: white;
  font-style: 15px;
  text-align: center;
  margin: auto;
  border-bottom: 2px solid black
}

.main>.header img {
  display: flex;
  height: 100px;
}

.box>.form {
  height: auto;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.box>.table {
  border-collapse: collapse;
  border-spacing: 5px;
  border: 1px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  table-layout: fixed;
}

.box>.table th {
  background: #045075;
  color: white;
  font-weight: bold;
}

.box>.table tbody {
  display: block;
  width: 100%;
  overflow: auto;
  max-height: 220px;
}

.table>thead tr {
  display: block;
}

.table>tbody tr {
  display: block;
  background-color: #aeb3b5;
  cursor: pointer;
}

.box>.table th,
.box>.table td {
  text-align: center;
  padding: 8px;
  border: 1px solid white;
  width: 200px;
}

.table>tbody tr:hover {
  background: #676e70;
}

.form {
margin-top: 10px;
}

.form>.button {
  background-color: #045075;
  padding: 0px 20px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  font-size: 12px;
  border: 0;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form>.button:hover,
.form>.button.hover {
  border: 2px solid #cfcece;
}

.form>form input {
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

.form>form input:hover {
  border: 2px solid #045075;
}

.box>.table .left {
  text-align: left;
  text-transform: capitalize;
}

.box>.table .right {
  text-align: right;
}
