.table-container {
  z-index: 1000;
  position: absolute;
  max-width: 400px;
  min-width: 60px;
  width: auto;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.952);
  top: 0;
  right: 100%;
  transition: all 0.2s ease-in-out;
}

.table-main {
  right: 0;
}

.toggle-close-detail {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  color: black;
  opacity: 0.5;

}

.table-main>.detail-main {
  margin: 10px;
  height: 200px;
  border: 1px solid black;
  justify-content: center;
  display: flex;
}

.detail-main>.image {
  width: 50%;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;

}

img.img {
  width: 150px;
  height: auto;
  justify-content: center;
  align-items: center
}

.detail-main>.detail {
  width: 50%;
  height: auto;
  padding: 5px;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: left;
  display: flex;
}

.detail>.det {
  width: 100%;
}

.toggle-show-hide {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.5;
}

.toggle-show-hide:hover{
  color: #045075;
  opacity: 1;
}


.table>tbody tr {
  display: block;
  cursor: pointer;
}

.table tbody {
  width: 100%;
}

.table th,
.table td {
  text-align: center;
  padding: 8px;
  border: 1px solid white;
}

.table>tbody tr:hover {
  border: 1px solid #676e70;
}

.table-main>.table {
  margin: 10px;
  border-collapse: collapse;
  border-spacing: 5px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  table-layout: fixed;
  align-content: center;
  font-size: 15px;
  width: 95%;
}

.table>thead tr {
  display: flex;
  width: auto;
}

.table>tbody tr {
  width: auto;
  display: flex;
  cursor: pointer;
}

.table th {
  color: black;
  font-weight: bold;
}

.table tbody {
  display: block;
  overflow: auto;
  max-height: 220px;
}

.table th,
.table td {
  text-align: center;
  padding: 8px;
  border: 1px solid white;
  width: 200px;
}


.table>tbody tr:hover {
  border: 2px solid #045075;
}
