.button-modal {
  color: #ffffff;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin: 10px 15px;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1.5px;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 10px;
  border: 1px solid #cfcece;
  background-color: #045075;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button-modal.hover,
.button-modal:hover {
  border-color: #045075;
}

.modal:active{
  transition: all 0.3s
}

.modal {
  padding: 10px;
  text-align: justify;
  font-size: 15px;
  background: #045075;
  border: 1px solid #ffffff;
  transition: all 1s;
  max-width: "600px";
  width: "50%";
  /* box-shadow: 0px 0px 10px 5px grey; */
  filter:blur();
}

.modal>.header {
  color: white;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #ffffff;
  font-size: 18px;
  text-align: center;
  text-transform:capitalize;
}

.modal>.content {
  color: white;
  font-size: 20px;
  width: 100%;
  /* padding-top: 20px; */
}

.content>.chart {
  background: white;
}

.modal>.actions {
  margin: auto;
}

.modal>.actions {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.modal>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.close:hover {
  border-color: #045075;
  transition: 0.5s all;
  font-size: 22px;
}
