.App .login {
  width: 300px;
  border: 1px solid #045075;
  background: white;
  padding: inherit;
}

.login>.header {
  color: white;
  background-color: #045075;
  width: auto;
  border-bottom: 2px solid #ffffff;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}

.login>.form {
  height: auto;
  padding: 10px;
  width: auto;
  text-align: end;
}

.login>.button {
  background-color: #045075;
  width: 100px;
  color: white;
  cursor: pointer;
  margin: 20px;
  display: inline-block;
  position: relative;
  font-size: 12px;
  border: 0;
  border-radius: 5px;
  transition: all 0.3s;
  padding: 5px;
}

.form>.button:hover,
.form>.button.hover {
  border: 2px solid #cfcece;
}

.form>form label {
  margin-left: auto;
  padding-right: 10px;
  text-align: left;
}

#loginInput>input {
  width: auto;
  margin: 10px;
  padding: 2px;
  display: inline-flex;
}

#loginInput>input:hover {
  border: 2px solid #045075;
}

#loginInput>.label {
  width: 20%;
  text-align: left;
  float: left;
  margin-left: 10px;

}

.label>label {
  padding-bottom: 20px;
  /* margin: 100px; */
  appearance: auto;
}

#loginInput>.input {
  width: 50%;
  text-align: left;
  float: left;
  margin-left: 20px;
}

.input>input {
  margin-bottom: 20px;
}
