.App .box {
  width: auto;
  border: 1px solid black;
  padding: 10px;
}

.box>.table {
  border-collapse: collapse;
  border-spacing: 5px;
  border: 1px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  table-layout: fixed;
  margin-bottom: 5px;
}

.table>thead tr {
  display: block;
}

.table>tbody tr {
  display: block;
  background-color: #aeb3b5;
  cursor: pointer;
}

.box>.form {
  height: auto;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  justify-content: center;
  width: auto;
  margin: 0;
}

.box>.table th {
  background: #045075;
  color: white;
  font-weight: bold;
}

.box>.table tbody {
  display: block;
  width: 100%;
  overflow: auto;
  max-height: 220px;
}

.box>.table th,
.box>.table td {
  text-align: center;
  padding: 8px;
  border: 1px solid white;
  width: 200px;
}

.box>.table .left {
  text-align: left;
  text-transform: capitalize;
}

.box>.table .right {
  text-align: right;
}

.table>tbody tr:hover {
  background: #676e70;
}

.table>.form {
  margin-top: 10px;
}

.form>#currencyInput {
  width: 100%;
  display: contents;
}

#currencyInput>input {
  width: 90px;
  margin: 0;
  margin-right: 5px;
}

#currencyInput>input:hover {
  border: 2px solid #045075;
}

#currencyInput>label {
  margin: 0;
}

.form>.button {
  /* margin-left: 20px; */
  width: 60px;
  background-color: #045075;
  border: 1px solid white;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

.box>.table {
  border-collapse: collapse;
  border-spacing: 5px;
  border: 1px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  table-layout: fixed;
}

.table>thead tr {
  display: block;
}

.table>tbody tr {
  display: block;
  background-color: #aeb3b5;
  cursor: pointer;
}

.box>.form {
  height: auto;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  justify-content: center;
  width: auto;
}

.box>.table th {
  background: #045075;
  color: white;
  font-weight: bold;
}

.box>.table tbody {
  display: block;
  width: 100%;
  overflow: auto;
  max-height: 220px;
}

.box>.table th,
.box>.table td {
  text-align: center;
  padding: 8px;
  border: 1px solid white;
  width: 200px;
}

.box>.table .left {
  text-align: left;
  text-transform: capitalize;
}

.box>.table .right {
  text-align: right;
}

.table>tbody tr:hover {
  background: #676e70;
}

.table>.form {
  margin-top: 10px;
}

.form>#currencyInput {
  width: 100%;
  display: contents;
}

#currencyInput>input {
  width: 80px;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  margin: 0;
  margin-right: 10px;
}

#currencyInput>input:hover {
  border: 2px solid #045075;
}

#currencyInput>label {
  margin: 0;
}

.form>.button {
  /* margin-left: 20px; */
  width: 60px;
  background-color: #045075;
  border: 1px solid white;
  te: ;
  */: ;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

.form>.button:hover,
.form>.button.hover {
  border: 2px solid #cfcece;
}

.form>.button:hover,
.form>.button.hover {
  border: 2px solid #cfcece;
}
