.modal:active{
  transition: all 0.3s
}

.modal {
    margin: auto;
  padding: 20px;
  width: 300px;
  text-align: center;
  background: white;
  border: 1px solid #ffffff;
  transition: all 1s;
}

.modal>.content {
  font-size: 18px;
  width: 100%;
  /* padding-top: 20px; */
}

.modal>.actions {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.button-modal {
    cursor: pointer;
    padding: 0px 30px;
    display: inline-block;
    margin: 10px 15px;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1.5px;
    font-size: 1em;
    outline: none;
    position: relative;
    font-size: 12px;
    border: 1px solid #cfcece;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .button-modal.hover,
  .button-modal:hover {
    border-color: #045075;
  }

.modal>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.close:hover {
  border-color: #045075;
  transition: 0.5s all;
  font-size: 22px;
}
