

.sidebar {
    width: auto;
    height: 100%;
    border-right: 5px solid gainsboro;
}

.sidebar>.sidebar-header {
    padding: 0px;
}

.sidebar-header>a img.max {
    width: 160px;
    height: auto;
}

.sidebar-header>a img.min{
    width: 80px;
    height:auto;
}

.sidebar>.sidebar-content{
    height: 80%;
    width: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sidebar>.sidebar-footer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color: #043650;
}

.linkTo {
    text-decoration: none;
    text-transform: none;
    text-align: unset;
    color: #043650;;

}

.linkTo>.menu{
    display: flex;
    width: auto;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.linkTo>.menu:hover{
    background-color: rgba(4, 80, 117, .6);
    color: cornsilk;
}

.menu>.icon{
    display: flex;
    width: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #043650;
}

.menu>.menu-name{
    display: flex;
    width: auto;
    height: auto;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    align-content: center;
    justify-content: center;
    text-align: left;
    align-items: center;
    padding-left: 10px;
}

.menu .tooltip {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    /* top: -5px; */
    left: 5%;
    opacity: 0;
    transition: opacity 1s;
}

.menu:hover .tooltip {
  visibility: visible;
opacity: 1;
}
