* {
    font-family: sans-serif;
}

#root {
    height: auto;
    width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    align-content: center;
    position: inherit;
}

.container>.content {
    width: 100%;
    display: inline;
}

.main {
    width: 100%;
}

.main>.header {
    background-color: none;
    width: 100%;
}

.main>.header>h2 {
    padding: 10px;
    background-color: #045075;
    color: white;
    font-style: 15px;
    text-align: center;
    margin: auto;
    border-bottom: 2px solid black;
}

.main>.header img {
    display: flex;
    height: 60px;
}

/* .App {
  margin: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
} */

.App {
    grid-column: auto;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
}

.linkTo>.back {
    z-index: 1000;
    position: fixed;
    padding: 10px;
    width: auto;
    height: auto;
    top: 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.7);
}

.linkTo>.back {
    left: 0;
}

.linkTo>.back:hover {
    background-color: rgb(153, 182, 245);
    color: white
}
