.App .calendar {
  width: 90%;
}

.calendar>.header {
  width: auto;
  padding-bottom: 5px;
  text-align: left;
}

.header>label {
  padding-right: 10px;
  padding-left: 5px;
}

.header>select {
  padding: 2px;
  width: 100px;
  background-color: white;
  border: 1px solid black;
}

select.classic {
  background-image: linear-gradient(90deg, transparent 80%, #045075 50%),
    linear-gradient(to right, white, white);
}

select.classic:active {
  border: none;
}

.calendar>.day-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #045075;
  color: white;
  padding: 10px;
}

.calendar>.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.date-grid>.date {
  border: 1px solid black;
  min-height: 80px;
  height: 100%;
}

.date>.span {
  padding: 5px;
  height: 20px;
}

label>#date {
  width: 100px;
}

.span>#span-1 {
  float: left;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}

.span>#span-2 {
  float: right;
  margin: auto;
  cursor: pointer;
}

.date>.notes {
  /* padding: 2px; */
  margin: auto;
  height: auto;
  overflow: auto;
  max-height: 60px;
}

.notes>p {
  font-size: 12px;
  min-height: 15px;
  height: auto;
  width: auto;
  margin: 3px;
  border-radius: 3px;
  text-align: left;
  cursor: pointer;
  padding-left: 5px;
  color: white;
}

form>input {
  width: 100%;
  inline-size: -webkit-fill-available;
  margin-bottom: 5px;
}

form>#date {
  width: 50px;
}

form>textarea {
  width: 100%;
  inline-size: -webkit-fill-available;
  margin-top: 5px;
  margin-bottom: 5px;
}

form>label {
  width: auto;
}

label>input {
  margin-left: 10px;
}

.content>form {
  /* display: flex; */
  width: 100%;
}

.content>.button-area {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.modal>.button-area {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.button-area>.button {
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
  background-color: #045075;
  border: 1px solid white;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
